* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* With this property 'padding' and 'border' are included in an element's total width and height */
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    font-size: 2rem;
    border: 2px dashed blue;
    width: 50vw;
    background-color: aqua;
}

p {
    font-size: 2rem;
    width: 40ch; /* How many Characters per line */
}